repos/Towne-Park-Billing-Source-Code/Towne-Park-Billing-PA-Solution/BillingSystem/Workflows/BellServiceFeeChildFlow-42A88C06-CE84-EF11-AC20-0022480A57AC.json
{
  "properties": {
    "connectionReferences": {
      "shared_sql": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bs_TowneParkEDW"
        },
        "api": {
          "name": "shared_sql"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "8320850f-96e4-451f-99e3-2ed5ca00cb3b"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "title": "ServicePeriodStart",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "Start date for service period",
                  "x-ms-content-hint": "DATE"
                },
                "number_1": {
                  "title": "InvoiceGroup",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "Target invoice group",
                  "x-ms-content-hint": "NUMBER"
                },
                "text": {
                  "title": "SiteNumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Customer Site number (i.e. \"0452\")",
                  "x-ms-content-hint": "TEXT"
                },
                "date_1": {
                  "title": "ServiceEndDate",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "End date for service period",
                  "x-ms-content-hint": "DATE"
                },
                "text_1": {
                  "description": "Please enter bell service fee object",
                  "title": "BellServiceFeeObject",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter contract types",
                  "title": "ContractType",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "date",
                "number_1",
                "text",
                "date_1",
                "text_1",
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Initialize_BellServiceFeeAmount_Variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f70c65b0-b591-4a43-a582-e27f70655eef"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BellServiceFeeAmount",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "Condition_-_are_parameters_empty_or_invoice_not_selected": {
          "actions": {
            "Respond_Empty_To_Parent": {
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('BellServiceFeeAmount')",
                  "lineitems": "@{outputs('Compose_Empty_Line_Items')}"
                }
              },
              "operationOptions": "Asynchronous"
            },
            "Terminate": {
              "runAfter": {
                "Respond_Empty_To_Parent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7c7352b5-4a00-46ce-a406-3f8a185c31e3"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Initialize_BellServiceFeeAmount_Variable": [
              "Succeeded"
            ],
            "Compose_Empty_Line_Items": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerBody()['date']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['text']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['date_1']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['number_1']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@empty(triggerBody()?['text_1'])",
                  "@true"
                ]
              },
              {
                "equals": [
                  "@triggerBody()?['text_1']",
                  "[]"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "562702e7-2a18-40d4-9106-ca1001dadfd0"
          },
          "type": "If"
        },
        "Compose_Empty_Line_Items": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "53274008-64e0-48df-ba7a-3bd4c0a69234"
          },
          "type": "Compose",
          "inputs": []
        },
        "Get_BellServiceFeeAmount": {
          "runAfter": {
            "Condition_-_bell_service_fee_is_not_on_invoice": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "62c0e4db-ed2a-4878-9984-8f021590aa72"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "server": "default",
              "database": "default",
              "table": "[dbo].[vwREVENUE_DAILY_DETAIL_INVOICE]",
              "$apply": "filter(REVENUE_CATEGORY eq 'Other Revenue' AND SITE eq '@{triggerBody()?['text']}' and year(DATE) eq @{formatDateTime(triggerBody()?['date'],'yyyy')} and month(DATE) eq @{formatDateTime(triggerBody()?['date'],'MM')} AND (COLLECTION_TYPE eq 'Bell Service Fee' OR COLLECTION_TYPE eq 'Bag Drops' OR COLLECTION_TYPE eq 'Bell Porterage' OR COLLECTION_TYPE eq 'Bell Revenue' OR COLLECTION_TYPE eq 'Billable Tips/Gratuities' OR COLLECTION_TYPE eq 'Portorage' OR COLLECTION_TYPE eq 'Bell Gratuities' OR COLLECTION_TYPE eq 'Gratuities' OR COLLECTION_TYPE eq 'Service Charge' OR COLLECTION_TYPE eq 'Porterage Service Fee' OR COLLECTION_TYPE eq 'Gratuities/Tips' OR COLLECTION_TYPE eq 'Porterage' OR COLLECTION_TYPE eq 'Room Drops'))/aggregate(NETEXTERNALREVENUE with sum as TotalNetExternalRevenue)",
              "$select": "TotalNetExternalRevenue"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql",
              "operationId": "GetItems_V2",
              "connectionName": "shared_sql"
            },
            "retryPolicy": {
              "type": "fixed",
              "count": 3,
              "interval": "PT30S"
            }
          }
        },
        "Set_variable": {
          "runAfter": {
            "Check_null_or_empty_value": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6ce43f63-e657-46b4-99b8-2ee9036a2d4d"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "BellServiceFeeAmount",
            "value": "@first(outputs('Get_BellServiceFeeAmount')?['body/value'])?['TotalNetExternalRevenue']"
          }
        },
        "Compose_Line_Items": {
          "runAfter": {
            "Set_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5a1bbebc-26da-4410-a077-6571f77abce1"
          },
          "type": "Compose",
          "inputs": [
            {
              "title": "Bell Service Fee",
              "description": "",
              "code": "4795",
              "amount": "@variables('BellServiceFeeAmount')"
            }
          ]
        },
        "Respond_Empty_To_Parent-copy": {
          "runAfter": {
            "Compose_Line_Items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "invoicesubtotal": {
                  "title": "InvoiceSubTotal",
                  "x-ms-dynamically-added": true,
                  "type": "number"
                },
                "lineitems": {
                  "title": "LineItems",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "invoicesubtotal": "@variables('BellServiceFeeAmount')",
              "lineitems": "@{outputs('Compose_Line_Items')}"
            }
          },
          "operationOptions": "Asynchronous"
        },
        "Check_null_or_empty_value": {
          "actions": {
            "Terminate_1": {
              "runAfter": {
                "Respond_Empty_To_Parent-copy_1": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3cd584fe-803e-4173-baf4-b924453f5f4c"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            },
            "Respond_Empty_To_Parent-copy_1": {
              "runAfter": {
                "Compose_zero_value_line_item": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('BellServiceFeeAmount')",
                  "lineitems": "@{outputs('Compose_zero_value_line_item')}"
                }
              },
              "operationOptions": "Asynchronous"
            },
            "Compose_zero_value_line_item": {
              "metadata": {
                "operationMetadataId": "c73c0c01-0de6-4ce6-a968-e03bef2dd6c6"
              },
              "type": "Compose",
              "inputs": [
                {
                  "title": "Bell Service Fee",
                  "description": "",
                  "code": "4795",
                  "amount": "@variables('BellServiceFeeAmount')"
                }
              ]
            }
          },
          "runAfter": {
            "Get_BellServiceFeeAmount": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@first(outputs('Get_BellServiceFeeAmount')?['body/value'])?['TotalNetExternalRevenue']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@first(outputs('Get_BellServiceFeeAmount')?['body/value'])?['TotalNetExternalRevenue']",
                  "@0"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "87bd9f67-090d-492d-b1e8-653a0be2f952"
          },
          "type": "If"
        },
        "Condition_Check_If_Contract_Does_not_Contain_Bell_Service_Fee": {
          "actions": {
            "Terminate_2": {
              "runAfter": {
                "Respond_Empty_To_Parent-copy_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "22191601-6603-46b4-9a7b-46619fcca1ce"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            },
            "Respond_Empty_To_Parent-copy_2": {
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('BellServiceFeeAmount')",
                  "lineitems": "@{outputs('Compose_Empty_Line_Items')}"
                }
              },
              "operationOptions": "Asynchronous"
            }
          },
          "runAfter": {
            "Condition_-_are_parameters_empty_or_invoice_not_selected": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@contains(triggerBody()?['text_2'], '126840005')",
                  "@false"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "0477e8db-2623-41e4-88d9-2594584bf4d7"
          },
          "type": "If"
        },
        "Parse_JSON_-_Bell_Service_Fee_Object": {
          "runAfter": {
            "Condition_Check_If_Contract_Does_not_Contain_Bell_Service_Fee": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "4abaab2e-3c9c-4206-9924-094717366c18"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['text_1']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "bs_invoicegroup": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "Compose_-_invoice_group_number": {
          "runAfter": {
            "Parse_JSON_-_Bell_Service_Fee_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fd4191ad-a668-4e5e-92a3-d4a98f6f15c9"
          },
          "type": "Compose",
          "inputs": "@first(body('Parse_JSON_-_Bell_Service_Fee_Object')).bs_invoicegroup"
        },
        "Condition_-_bell_service_fee_is_not_on_invoice": {
          "actions": {
            "Respond_Empty_To_Parent-copy_3": {
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              },
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('BellServiceFeeAmount')",
                  "lineitems": "@{outputs('Compose_Empty_Line_Items')}"
                }
              },
              "operationOptions": "Asynchronous"
            },
            "Terminate_3": {
              "runAfter": {
                "Respond_Empty_To_Parent-copy_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d73b4ac1-2515-4e09-b4c9-fb66750772f3"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Compose_-_invoice_group_number": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Compose_-_invoice_group_number')",
                    "@triggerBody()?['number_1']"
                  ]
                }
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "79ccedd3-5f39-4b7d-9e43-74bb0bf2f610"
          },
          "type": "If"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}