repos/Towne-Park-Billing-Source-Code/Towne-Park-Billing-PA-Solution/BillingSystem/Workflows/BillableAccountsChildFlow20241108-0E80E27B-0B9E-EF11-8A6A-0022480A57AC.json
{
  "properties": {
    "connectionReferences": {
      "shared_sql": {
        "api": {
          "name": "shared_sql"
        },
        "connection": {
          "connectionReferenceLogicalName": "bs_TowneParkEDW"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_7558e"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "title": "ServicePeriodStart",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "Start date for service period",
                  "x-ms-content-hint": "DATE"
                },
                "number_1": {
                  "title": "InvoiceGroup",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "Target invoice group",
                  "x-ms-content-hint": "NUMBER"
                },
                "text": {
                  "title": "SiteNumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Customer Site number (i.e. \"0452\")",
                  "x-ms-content-hint": "TEXT"
                },
                "date_1": {
                  "title": "ServiceEndDate",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "End date for service period",
                  "x-ms-content-hint": "DATE"
                },
                "text_1": {
                  "description": "Please enter billable account object",
                  "title": "BillableAccountsObject",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter contract types",
                  "title": "ContractType",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "date",
                "number_1",
                "text",
                "date_1",
                "text_1",
                "text_2"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "8320850f-96e4-451f-99e3-2ed5ca00cb3b"
          }
        }
      },
      "actions": {
        "Initialize_PayrollAccountAmount_Variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PayrollAccountAmount",
                "type": "float",
                "value": 0
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "f70c65b0-b591-4a43-a582-e27f70655eef"
          }
        },
        "Condition_-_are_parameters_empty_or_invoice_not_selected": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerBody()['date']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['text']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['date_1']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['number_1']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()?['text_1']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()?['text_1']",
                  "[]"
                ]
              }
            ]
          },
          "actions": {
            "Respond_Empty_To_Parent": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('BillableAccountsTotalAmount')",
                  "lineitems": "@{variables('LineItems')}"
                }
              },
              "operationOptions": "Asynchronous",
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              }
            },
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Respond_Empty_To_Parent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7c7352b5-4a00-46ce-a406-3f8a185c31e3"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Initialize_PayrollAccountAmount_Variable": [
              "Succeeded"
            ],
            "Compose_Empty_Line_Items": [
              "Succeeded"
            ],
            "Initialize_LineItems_variable": [
              "Succeeded"
            ],
            "Initialize_BillableAccountsTotalAmount_variable": [
              "Succeeded"
            ],
            "Initialize_PTEBAmount_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "562702e7-2a18-40d4-9106-ca1001dadfd0"
          }
        },
        "Compose_Empty_Line_Items": {
          "type": "Compose",
          "inputs": [],
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "53274008-64e0-48df-ba7a-3bd4c0a69234"
          }
        },
        "Respond_To_Parent": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "invoicesubtotal": {
                  "title": "InvoiceSubTotal",
                  "x-ms-dynamically-added": true,
                  "type": "number"
                },
                "lineitems": {
                  "title": "LineItems",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "invoicesubtotal": "@variables('BillableAccountsTotalAmount')",
              "lineitems": "@{variables('LineItems')}"
            }
          },
          "runAfter": {
            "Condition_-_Billable_Account_is_on_invoice": [
              "Succeeded"
            ],
            "Condition_-_Expense_Accounts_is_on_Invoice": [
              "Succeeded"
            ]
          },
          "operationOptions": "Asynchronous",
          "metadata": {
            "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
          }
        },
        "Condition_Check_If_Contract_Does_not_Contain_Billable_Account": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@contains(triggerBody()?['text_2'], '126840008')",
                  "@false"
                ]
              }
            ]
          },
          "actions": {
            "Terminate_2": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Respond_Empty_To_Parent-copy_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b3bd6280-8871-4a56-a916-3c36cc8e523c"
              }
            },
            "Respond_Empty_To_Parent-copy_2": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('BillableAccountsTotalAmount')",
                  "lineitems": "@{variables('LineItems')}"
                }
              },
              "operationOptions": "Asynchronous",
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Condition_-_are_parameters_empty_or_invoice_not_selected": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "96805da2-a442-417c-9556-70633b9cf328"
          }
        },
        "Parse_JSON_-_Billable_Accounts_Object": {
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['text_1']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "@@odata.type": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrollaccountsdata": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrollaccountsinvoicegroup": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_payrollaccountslinetitle": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrolltaxesbillingtype@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrolltaxesbillingtype": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_payrolltaxesenabled@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrolltaxesenabled": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "bs_payrolltaxeslinetitle": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrolltaxespercentage@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrolltaxespercentage": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_payrollsupportenabled": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "bs_payrollsupportlinetitle": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrollsupportbillingtype@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrollsupportbillingtype": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_payrollsupportpayrolltype@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_payrollsupportpayrolltype": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_payrollsupportamount": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_expenseaccountsdata": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_expenseaccountsinvoicegroup": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_expenseaccountslinetitle": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          },
          "runAfter": {
            "Condition_Check_If_Contract_Does_not_Contain_Billable_Account": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9d97ae81-2653-4ed9-b440-6a0a50ec1b07"
          }
        },
        "Compose_-_Payroll_Accounts_invoice_group_number": {
          "type": "Compose",
          "inputs": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrollaccountsinvoicegroup",
          "runAfter": {
            "Parse_JSON_-_Billable_Accounts_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0a69fb19-7b96-4fb7-b312-a4808ac668d6"
          }
        },
        "Condition_-_Billable_Account_is_on_invoice": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Compose_-_Payroll_Accounts_invoice_group_number')",
                  "@triggerBody()?['number_1']"
                ]
              }
            ]
          },
          "actions": {
            "Scope_-_Payroll_Accounts": {
              "type": "Scope",
              "actions": {
                "Filter_array_to_enabled_codes": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_JSON_payroll_accounts_data')",
                    "where": "@equals(item()['isEnabled'],true)"
                  },
                  "runAfter": {
                    "Parse_JSON_payroll_accounts_data": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "09febf72-bc7a-414f-ac8a-1e645ef27f98"
                  }
                },
                "Select_codes": {
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter_array_to_enabled_codes')",
                    "select": "@item()?['code']"
                  },
                  "runAfter": {
                    "Filter_array_to_enabled_codes": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9a9cc9a6-dce0-4630-a1ff-490455b0ee7c"
                  }
                },
                "Compose_main_account_data_query_string": {
                  "type": "Compose",
                  "inputs": "@concat('(MAIN_ACCOUNT eq ''', join(body('Select_codes'), ''' OR MAIN_ACCOUNT eq '''), ''')')",
                  "runAfter": {
                    "Select_codes": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ce443f00-6cf2-479e-93f8-9cc4bdcb2772"
                  }
                },
                "Get_Payroll_Accounts_Total_Amount": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[dbo].[ACCOUNT_SUMMARY]",
                      "$apply": "filter(\n    PERIOD eq @{formatDateTime(triggerBody()?['date'],'yyyyMM')} \n    AND COST_CENTER eq '@{triggerBody()?['text']}' \n    AND @{outputs('Compose_main_account_data_query_string')}\n)\n/aggregate(\n    BALANCE with sum as BillablePayroll\n)",
                      "$select": "BillablePayroll"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql",
                      "operationId": "GetItems_V2",
                      "connectionName": "shared_sql"
                    },
                    "retryPolicy": {
                      "type": "fixed",
                      "count": 3,
                      "interval": "PT30S"
                    }
                  },
                  "runAfter": {
                    "Compose_main_account_data_query_string": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "62c0e4db-ed2a-4878-9984-8f021590aa72"
                  }
                },
                "Set_PayrollAccountAmount_variable": {
                  "type": "SetVariable",
                  "inputs": {
                    "name": "PayrollAccountAmount",
                    "value": "@if(\r\n    greater(\r\n        coalesce(first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_additionalPayrollAmount, 0),\r\n        0\r\n    ),\r\n    add(\r\n        coalesce(first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_additionalPayrollAmount, 0),\r\n        coalesce(first(outputs('Get_Payroll_Accounts_Total_Amount')?['body/value'])?['BillablePayroll'], 0)\r\n    ),\r\n    coalesce(first(outputs('Get_Payroll_Accounts_Total_Amount')?['body/value'])?['BillablePayroll'], 0)\r\n)"
                  },
                  "runAfter": {
                    "Get_Payroll_Accounts_Total_Amount": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6ce43f63-e657-46b4-99b8-2ee9036a2d4d"
                  }
                },
                "Increment_BillableAccountsTotalAmount_variable": {
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "BillableAccountsTotalAmount",
                    "value": "@variables('PayrollAccountAmount')"
                  },
                  "runAfter": {
                    "Set_PayrollAccountAmount_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2c1d14d8-f225-4ab6-928d-0a962814425a"
                  }
                },
                "Compose_Billable_Account_Payroll_Accounts_Line_Items": {
                  "type": "Compose",
                  "inputs": {
                    "title": "@{outputs('Compose_-_Payroll_Line_Item_Title')}",
                    "description": "",
                    "code": "4791",
                    "amount": "@variables('PayrollAccountAmount')",
                    "metaData": {
                      "lineItemType": "billablePayrollAccounts",
                      "isBillablePayrollAccounts": true,
                      "isProfitDeduction": true
                    }
                  },
                  "runAfter": {
                    "Increment_BillableAccountsTotalAmount_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5a1bbebc-26da-4410-a077-6571f77abce1"
                  }
                },
                "Append_billable_payroll_accounts_line_item_to_LineItems_array_variable": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LineItems",
                    "value": "@outputs('Compose_Billable_Account_Payroll_Accounts_Line_Items')"
                  },
                  "runAfter": {
                    "Compose_Billable_Account_Payroll_Accounts_Line_Items": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d744b4bd-ce31-4433-8e12-aef3c85f270e"
                  }
                },
                "Condition_-_is_Payroll_Taxes_Enabled": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrolltaxesenabled",
                          "@true"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Switch_Payroll_Taxes_Billing_Type": {
                      "type": "Switch",
                      "expression": "@first(outputs('Parse_JSON_-_Billable_Accounts_Object')['body'])?['bs_payrolltaxesbillingtype@OData.Community.Display.V1.FormattedValue']",
                      "default": {
                        "actions": {}
                      },
                      "cases": {
                        "Case_ACTUAL": {
                          "actions": {
                            "Get_PTEB_Amount": {
                              "type": "OpenApiConnection",
                              "inputs": {
                                "parameters": {
                                  "server": "default",
                                  "database": "default",
                                  "table": "[dbo].[ACCOUNT_SUMMARY]",
                                  "$apply": "filter(\n    PERIOD eq @{formatDateTime(triggerBody()?['date'],'yyyyMM')} \n    AND COST_CENTER eq '@{triggerBody()?['text']}' \n    AND (MAIN_ACCOUNT eq '6200' OR MAIN_ACCOUNT eq '6399' OR MAIN_ACCOUNT eq '6500')\n)\n/aggregate(\n    BALANCE with sum as PTEB\n)",
                                  "$select": "PTEB"
                                },
                                "host": {
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql",
                                  "operationId": "GetItems_V2",
                                  "connectionName": "shared_sql"
                                },
                                "retryPolicy": {
                                  "type": "fixed",
                                  "count": 3,
                                  "interval": "PT30S"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "62c0e4db-ed2a-4878-9984-8f021590aa72"
                              }
                            },
                            "Increment_BillableAccountsTotalAmount_variable_2": {
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "BillableAccountsTotalAmount",
                                "value": "@variables('PTEBAmount')"
                              },
                              "runAfter": {
                                "Set_variable_-_PTEBAmount_ACTUAL_": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "a98b44ff-8958-4d6d-974f-ae54d101b465"
                              }
                            },
                            "Compose_ACTUAL_PTEB_Line_Item": {
                              "type": "Compose",
                              "inputs": {
                                "title": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrolltaxeslinetitle",
                                "description": "",
                                "code": "4791",
                                "amount": "@variables('PTEBAmount')",
                                "metaData": {
                                  "lineItemType": "PTEB",
                                  "isPTEB": true,
                                  "isProfitDeduction": true
                                }
                              },
                              "runAfter": {
                                "Increment_BillableAccountsTotalAmount_variable_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "aa51960a-a7f6-476f-b532-94ab7eaa8ec0"
                              }
                            },
                            "Append_ACTUAL_PTEB_Line_Item_to_Line_Items": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "LineItems",
                                "value": "@outputs('Compose_ACTUAL_PTEB_Line_Item')"
                              },
                              "runAfter": {
                                "Compose_ACTUAL_PTEB_Line_Item": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "4ceb80d7-dcbe-4f89-b38a-988d644d0da0"
                              }
                            },
                            "Set_variable_-_PTEBAmount_ACTUAL_": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "PTEBAmount",
                                "value": "@coalesce(first(outputs('Get_PTEB_Amount')?['body/value'])?['PTEB'],0)"
                              },
                              "runAfter": {
                                "Get_PTEB_Amount": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "89659841-a576-4808-9f68-fee484fa8051"
                              }
                            }
                          },
                          "case": "Actual"
                        },
                        "Case_PERCENTAGE": {
                          "actions": {
                            "Compose_PERCENTAGE_PTEB_Line_Item": {
                              "type": "Compose",
                              "inputs": {
                                "title": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrolltaxeslinetitle",
                                "description": "",
                                "code": "4791",
                                "amount": "@variables('PTEBAmount')",
                                "metaData": {
                                  "lineItemType": "PTEB",
                                  "isPTEB": true,
                                  "isProfitDeduction": true
                                }
                              },
                              "runAfter": {
                                "Increment_BillableAccountsTotalAmount_variable_3": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "963bc2e8-0622-48c6-9d36-bbf5226f3380"
                              }
                            },
                            "Increment_BillableAccountsTotalAmount_variable_3": {
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "BillableAccountsTotalAmount",
                                "value": "@variables('PTEBAmount')"
                              },
                              "runAfter": {
                                "Set_variable_-_PTEBAmount_Percentage": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "d9f262f5-2ddd-45ab-b20c-3e4c6196f6fb"
                              }
                            },
                            "Append_PERCENTAGE_PTEB_Line_Item_to_Line_Items": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "LineItems",
                                "value": "@outputs('Compose_PERCENTAGE_PTEB_Line_Item')"
                              },
                              "runAfter": {
                                "Compose_PERCENTAGE_PTEB_Line_Item": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "785c4c57-7d22-4953-ae22-3266abeaf9fb"
                              }
                            },
                            "Set_variable_-_PTEBAmount_Percentage": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "PTEBAmount",
                                "value": "@mul(\r\n    variables('PayrollAccountAmount'),\r\n    div(\r\n        first(\r\n            body('Parse_JSON_-_Billable_Accounts_Object')\r\n        ).bs_payrolltaxespercentage, \r\n        100\r\n    )\r\n)\r\n"
                              },
                              "metadata": {
                                "operationMetadataId": "a3a8e33b-8179-4804-bfb4-8ae37f330651"
                              }
                            }
                          },
                          "case": "Percentage"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "5a58f2ef-25cf-4bd8-9a11-10a9ab5b1260"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Append_billable_payroll_accounts_line_item_to_LineItems_array_variable": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7cff6e71-ade9-47cb-a5a7-05a6431086bc"
                  }
                },
                "Condition_-_Is_Payroll_Support_Enabled": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "equals": [
                          "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrollsupportenabled",
                          "@true"
                        ]
                      }
                    ]
                  },
                  "actions": {
                    "Switch_-_Payroll_Support_Billing_Type": {
                      "type": "Switch",
                      "expression": "@first(outputs('Parse_JSON_-_Billable_Accounts_Object')['body'])?['bs_payrollsupportbillingtype@OData.Community.Display.V1.FormattedValue']",
                      "default": {
                        "actions": {}
                      },
                      "cases": {
                        "Case_FIXED": {
                          "actions": {
                            "Increment_BillableAccountsTotalAmount_variable_Fixed_Billing_Type": {
                              "type": "IncrementVariable",
                              "inputs": {
                                "name": "BillableAccountsTotalAmount",
                                "value": "@first(outputs('Parse_JSON_-_Billable_Accounts_Object')['body'])?['bs_payrollsupportamount']"
                              },
                              "metadata": {
                                "operationMetadataId": "d9f262f5-2ddd-45ab-b20c-3e4c6196f6fb"
                              }
                            },
                            "Compose_Fixed_Billing_Type_Line_Item_": {
                              "type": "Compose",
                              "inputs": {
                                "title": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrollsupportlinetitle",
                                "description": "",
                                "code": "4791",
                                "amount": "@first(outputs('Parse_JSON_-_Billable_Accounts_Object')['body'])?['bs_payrollsupportamount']",
                                "metaData": {
                                  "lineItemType": "SupportServices",
                                  "isSupportServices": true,
                                  "isProfitDeduction": true
                                }
                              },
                              "runAfter": {
                                "Increment_BillableAccountsTotalAmount_variable_Fixed_Billing_Type": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "963bc2e8-0622-48c6-9d36-bbf5226f3380"
                              }
                            },
                            "Append_Fixed_Billing_Type_Line_Item_to_Line_Items_": {
                              "type": "AppendToArrayVariable",
                              "inputs": {
                                "name": "LineItems",
                                "value": "@outputs('Compose_Fixed_Billing_Type_Line_Item_')"
                              },
                              "runAfter": {
                                "Compose_Fixed_Billing_Type_Line_Item_": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "785c4c57-7d22-4953-ae22-3266abeaf9fb"
                              }
                            }
                          },
                          "case": "Fixed"
                        },
                        "Case_Support_PERCENTAGE": {
                          "actions": {
                            "Switch_-_Payroll_Support_Payroll_Type": {
                              "type": "Switch",
                              "expression": "@first(outputs('Parse_JSON_-_Billable_Accounts_Object')['body'])?['bs_payrollsupportpayrolltype@OData.Community.Display.V1.FormattedValue']",
                              "default": {
                                "actions": {}
                              },
                              "cases": {
                                "Case_Payroll_TOTAL": {
                                  "actions": {
                                    "Increment_BillableAccountsTotalAmount_variable_Percentage_of_Total_Billing_Type_": {
                                      "type": "IncrementVariable",
                                      "inputs": {
                                        "name": "BillableAccountsTotalAmount",
                                        "value": "@mul(\r\n    add(\r\n        variables('PayrollAccountAmount'),\r\n        variables('PTEBAmount')\r\n    ),\r\n    div(\r\n        first(\r\n            outputs('Parse_JSON_-_Billable_Accounts_Object')['body']\r\n        )?['bs_payrollsupportamount'],\r\n        100\r\n    )\r\n)"
                                      },
                                      "metadata": {
                                        "operationMetadataId": "d9f262f5-2ddd-45ab-b20c-3e4c6196f6fb"
                                      }
                                    },
                                    "Compose_Percentage_of_Total_Billing_Type_Line_Item": {
                                      "type": "Compose",
                                      "inputs": {
                                        "title": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrollsupportlinetitle",
                                        "description": "",
                                        "code": "4791",
                                        "amount": "@mul(\r\n    add(\r\n        variables('PayrollAccountAmount'),\r\n        variables('PTEBAmount')\r\n    ),\r\n    div(\r\n        first(\r\n            outputs('Parse_JSON_-_Billable_Accounts_Object')['body']\r\n        )?['bs_payrollsupportamount'],\r\n        100\r\n    )\r\n)",
                                        "metaData": {
                                          "lineItemType": "SupportServices",
                                          "isSupportServices": true,
                                          "isProfitDeduction": true
                                        }
                                      },
                                      "runAfter": {
                                        "Increment_BillableAccountsTotalAmount_variable_Percentage_of_Total_Billing_Type_": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "963bc2e8-0622-48c6-9d36-bbf5226f3380"
                                      }
                                    },
                                    "Append_Percentage_of_Total_Billing_Type_Line_Item_to_Line_Items": {
                                      "type": "AppendToArrayVariable",
                                      "inputs": {
                                        "name": "LineItems",
                                        "value": "@outputs('Compose_Percentage_of_Total_Billing_Type_Line_Item')"
                                      },
                                      "runAfter": {
                                        "Compose_Percentage_of_Total_Billing_Type_Line_Item": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "785c4c57-7d22-4953-ae22-3266abeaf9fb"
                                      }
                                    }
                                  },
                                  "case": "Total"
                                },
                                "Case_Payroll_BILLABLE": {
                                  "actions": {
                                    "Increment_BillableAccountsTotalAmount_variable_Percentage_of_Billable_Billing": {
                                      "type": "IncrementVariable",
                                      "inputs": {
                                        "name": "BillableAccountsTotalAmount",
                                        "value": "@mul(\r\n    variables('PayrollAccountAmount'),\r\n    div(\r\n        first(\r\n            outputs('Parse_JSON_-_Billable_Accounts_Object')['body']\r\n        )?['bs_payrollsupportamount'],\r\n        100\r\n    )\r\n)"
                                      },
                                      "metadata": {
                                        "operationMetadataId": "d9f262f5-2ddd-45ab-b20c-3e4c6196f6fb"
                                      }
                                    },
                                    "Compose_Percentage_of_Billable_Billing_Type_Line_Item": {
                                      "type": "Compose",
                                      "inputs": {
                                        "title": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrollsupportlinetitle",
                                        "description": "",
                                        "code": "4791",
                                        "amount": "@mul(\r\n    variables('PayrollAccountAmount'),\r\n    div(\r\n        first(\r\n            outputs('Parse_JSON_-_Billable_Accounts_Object')['body']\r\n        )?['bs_payrollsupportamount'],\r\n        100\r\n    )\r\n)",
                                        "metaData": {
                                          "lineItemType": "SupportServices",
                                          "isSupportServices": true,
                                          "isProfitDeduction": true
                                        }
                                      },
                                      "runAfter": {
                                        "Increment_BillableAccountsTotalAmount_variable_Percentage_of_Billable_Billing": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "963bc2e8-0622-48c6-9d36-bbf5226f3380"
                                      }
                                    },
                                    "Append_Percentage_of_Billable_Billing_Type_Line_Item_to_Line_Items": {
                                      "type": "AppendToArrayVariable",
                                      "inputs": {
                                        "name": "LineItems",
                                        "value": "@outputs('Compose_Percentage_of_Billable_Billing_Type_Line_Item')"
                                      },
                                      "runAfter": {
                                        "Compose_Percentage_of_Billable_Billing_Type_Line_Item": [
                                          "Succeeded"
                                        ]
                                      },
                                      "metadata": {
                                        "operationMetadataId": "785c4c57-7d22-4953-ae22-3266abeaf9fb"
                                      }
                                    }
                                  },
                                  "case": "Billable"
                                }
                              },
                              "metadata": {
                                "operationMetadataId": "21e9eae8-8f16-490a-9308-bfca576aead5"
                              }
                            }
                          },
                          "case": "Percentage"
                        }
                      },
                      "metadata": {
                        "operationMetadataId": "63bfca55-cdc9-4c86-aa70-6acc6abc858b"
                      }
                    }
                  },
                  "else": {
                    "actions": {}
                  },
                  "runAfter": {
                    "Condition_-_is_Payroll_Taxes_Enabled": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bc900a6c-9877-4704-96ca-2ab7b3c33026"
                  }
                },
                "Parse_JSON_payroll_accounts_data": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrollaccountsdata",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "isEnabled": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "3ee775e6-ece1-41e8-ac96-ec95ec941a2c"
                  }
                }
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Compose_-_Payroll_Accounts_invoice_group_number": [
              "Succeeded"
            ],
            "Compose_-_Payroll_Line_Item_Title": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7e38ac35-6490-4d4c-ba23-6b2b4f1630d2"
          }
        },
        "Compose_-_Payroll_Line_Item_Title": {
          "type": "Compose",
          "inputs": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_payrollaccountslinetitle",
          "runAfter": {
            "Parse_JSON_-_Billable_Accounts_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "6d1cb237-0397-4b84-b026-121b28a293e9"
          }
        },
        "Initialize_LineItems_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LineItems",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fcf742e8-6bd4-44c2-8c4d-0d1df0c51842"
          }
        },
        "Initialize_BillableAccountsTotalAmount_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "BillableAccountsTotalAmount",
                "type": "float",
                "value": 0
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4bfb229e-eba7-492d-8f45-7a773054a4cb"
          }
        },
        "Initialize_PTEBAmount_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PTEBAmount",
                "type": "float",
                "value": 0
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "328d5d24-2494-425a-9664-111d8dffee2f"
          }
        },
        "Compose_-_Expense_Accounts_invoice_group_number": {
          "type": "Compose",
          "inputs": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_expenseaccountsinvoicegroup",
          "runAfter": {
            "Parse_JSON_-_Billable_Accounts_Object": [
              "Succeeded"
            ]
          }
        },
        "Condition_-_Expense_Accounts_is_on_Invoice": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@outputs('Compose_-_Expense_Accounts_invoice_group_number')",
                  "@triggerBody()?['number_1']"
                ]
              }
            ]
          },
          "actions": {
            "Scope_-_Expense_Accounts": {
              "type": "Scope",
              "actions": {
                "Filter_Expense_Accounts_array_to_enabled_codes": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_JSON_-_Expense_Accounts_Data')",
                    "where": "@equals(item()['isEnabled'],true)"
                  },
                  "runAfter": {
                    "Parse_JSON_-_Expense_Accounts_Data": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "09febf72-bc7a-414f-ac8a-1e645ef27f98"
                  }
                },
                "Parse_JSON_-_Expense_Accounts_Data": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_expenseaccountsdata",
                    "schema": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "isEnabled": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                },
                "Select_Expense_codes": {
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter_Expense_Accounts_array_to_enabled_codes')",
                    "select": "@item()?['code']"
                  },
                  "runAfter": {
                    "Filter_Expense_Accounts_array_to_enabled_codes": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9a9cc9a6-dce0-4630-a1ff-490455b0ee7c"
                  }
                },
                "Compose_expense_account_data_query_string": {
                  "type": "Compose",
                  "inputs": "@concat('(MAIN_ACCOUNT eq ''', join(body('Select_Expense_codes'), ''' OR MAIN_ACCOUNT eq '''), ''')')",
                  "runAfter": {
                    "Select_Expense_codes": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "ce443f00-6cf2-479e-93f8-9cc4bdcb2772"
                  }
                },
                "Get_Expense_Accounts_Total_Amount": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[dbo].[ACCOUNT_SUMMARY]",
                      "$apply": "filter(\n    PERIOD eq @{formatDateTime(triggerBody()?['date'],'yyyyMM')} \n    AND COST_CENTER eq '@{triggerBody()?['text']}' \n    AND @{outputs('Compose_expense_account_data_query_string')}\n   AND ENTITY ne '06'\n)\n/aggregate(\n    BALANCE with sum as BillableExpenses\n)",
                      "$select": "BillableExpenses"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql",
                      "operationId": "GetItems_V2",
                      "connectionName": "shared_sql"
                    },
                    "retryPolicy": {
                      "type": "fixed",
                      "count": 3,
                      "interval": "PT30S"
                    }
                  },
                  "runAfter": {
                    "Compose_expense_account_data_query_string": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "62c0e4db-ed2a-4878-9984-8f021590aa72"
                  }
                },
                "Increment_BillableAccountsTotalAmount_variable_add_Expenses": {
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "BillableAccountsTotalAmount",
                    "value": "@coalesce(first(outputs('Get_Expense_Accounts_Total_Amount')?['body/value'])?['BillableExpenses'],0)"
                  },
                  "runAfter": {
                    "Get_Expense_Accounts_Total_Amount": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2c1d14d8-f225-4ab6-928d-0a962814425a"
                  }
                },
                "Compose_Billable_Account_Expense_Accounts_Line_Items": {
                  "type": "Compose",
                  "inputs": {
                    "title": "@first(body('Parse_JSON_-_Billable_Accounts_Object')).bs_expenseaccountslinetitle",
                    "description": "",
                    "code": "4791",
                    "amount": "@coalesce(first(outputs('Get_Expense_Accounts_Total_Amount')?['body/value'])?['BillableExpenses'],0)",
                    "metaData": {
                      "lineItemType": "billableExpenseAccounts",
                      "isBillableExpenseAccounts": true,
                      "isProfitDeduction": true
                    }
                  },
                  "runAfter": {
                    "Increment_BillableAccountsTotalAmount_variable_add_Expenses": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5a1bbebc-26da-4410-a077-6571f77abce1"
                  }
                },
                "Append_billable_expense_accounts_line_item_to_LineItems_array_variable": {
                  "type": "AppendToArrayVariable",
                  "inputs": {
                    "name": "LineItems",
                    "value": "@outputs('Compose_Billable_Account_Expense_Accounts_Line_Items')"
                  },
                  "runAfter": {
                    "Compose_Billable_Account_Expense_Accounts_Line_Items": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d744b4bd-ce31-4433-8e12-aef3c85f270e"
                  }
                },
                "List_Management_Agreement_Expense_Account_rows": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "bs_managementagreementexpenseaccounts",
                      "$select": "bs_managementagreementexpenseaccountid",
                      "$filter": "bs_site eq '@{triggerBody()?['text']}' and bs_month eq '@{formatDateTime(triggerBody()?['date'],'MM')}' and bs_year eq '@{formatDateTime(triggerBody()?['date'],'yyyy')}'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps-1"
                    }
                  }
                },
                "For_each_Management_Agreement_Expense_Account": {
                  "type": "Foreach",
                  "foreach": "@outputs('List_Management_Agreement_Expense_Account_rows')?['body/value']",
                  "actions": {
                    "Delete_a_Management_Agreement_Expense_Account_row": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "bs_managementagreementexpenseaccounts",
                          "recordId": "@item()?['bs_managementagreementexpenseaccountid']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "DeleteRecord",
                          "connectionName": "shared_commondataserviceforapps-1"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_Management_Agreement_Expense_Account_rows": [
                      "Succeeded"
                    ]
                  }
                },
                "Filter_Expense_Accounts_array_to_disabled_codes": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Parse_JSON_-_Expense_Accounts_Data')",
                    "where": "@equals(item()?['isEnabled'],false)"
                  },
                  "runAfter": {
                    "Parse_JSON_-_Expense_Accounts_Data": [
                      "Succeeded"
                    ]
                  }
                },
                "Select_Excluded_Expense_Codes": {
                  "type": "Select",
                  "inputs": {
                    "from": "@body('Filter_Expense_Accounts_array_to_disabled_codes')",
                    "select": "@item()?['code']"
                  },
                  "runAfter": {
                    "Filter_Expense_Accounts_array_to_disabled_codes": [
                      "Succeeded"
                    ]
                  }
                },
                "For_each_Excluded_Expense_Account": {
                  "type": "Foreach",
                  "foreach": "@outputs('Select_Excluded_Expense_Codes')['body']",
                  "actions": {
                    "Add_a_new_Management_Agreement_Expense_Account_row": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "bs_managementagreementexpenseaccounts",
                          "item/bs_excluded": true,
                          "item/bs_mainaccount": "@items('For_each_Excluded_Expense_Account')",
                          "item/bs_month": "@formatDateTime(triggerBody()?['date'],'MM')",
                          "item/bs_site": "@triggerBody()?['text']",
                          "item/bs_year": "@formatDateTime(triggerBody()?['date'],'yyyy')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "CreateRecord",
                          "connectionName": "shared_commondataserviceforapps-1"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Select_Excluded_Expense_Codes": [
                      "Succeeded"
                    ],
                    "For_each_Management_Agreement_Expense_Account": [
                      "Succeeded"
                    ]
                  }
                }
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Compose_-_Expense_Accounts_invoice_group_number": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}