repos/Towne-Park-Billing-Source-Code/Towne-Park-Billing-PA-Solution/BillingSystem/Workflows/CustomerSiteMasterUpdate-42E0F31C-AF6E-EF11-A670-0022480B335B.json
{
  "properties": {
    "connectionReferences": {
      "shared_sql": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "bs_TowneParkEDW"
        },
        "api": {
          "name": "shared_sql"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_7558e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Hour",
            "interval": 24,
            "startTime": "2024-09-10T03:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "c1d9a472-6f4c-4642-bf82-bf9d31a6e069"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Transform_data_using_Power_Query": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3a56a3ad-a13f-4115-b743-2d414ab09253"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "query/query": "{\"hostContext\":{\"type\":\"Flow\",\"details\":{\"EnvironmentId\":\"4391e935-a6e1-ed95-99fa-4b7654dd9113\"}},\"mashupName\":\"Untitled 1\",\"mashupDocument\":\"section Section1;\\r\\nshared Server = \\\"EDW-NODE-01\\\\TP_EDW01\\\" meta [IsParameterQuery = true, IsParameterQueryRequired = true, Type = type text];\\r\\nshared Database = \\\"TP_EDW\\\" meta [IsParameterQuery = true, IsParameterQueryRequired = true, Type = type text];\\r\\nshared MASTER_NON_FINANCIAL = let\\r\\n  Source = Sql.Databases(Server),\\r\\n  Navigation = Source{[Name = Database]}[Data],\\r\\n  #\\\"Navigation 1\\\" = Navigation{[Schema = \\\"dbo\\\", Item = \\\"MASTER_NON_FINANCIAL\\\"]}[Data],\\r\\n  #\\\"Choose columns\\\" = Table.SelectColumns(#\\\"Navigation 1\\\", {\\\"SITE\\\", \\\"SITE_NAME\\\", \\\"DISTRICT\\\", \\\"STREET_ADDRESS\\\", \\\"CITY\\\", \\\"STATE\\\", \\\"ZIP\\\", \\\"P_CONTRACT_TYPE\\\", \\\"FIRST_WORKED_DATE\\\", \\\"TP_DEPOSITS\\\", \\\"GL_STRING\\\"}),\\r\\n  #\\\"Filtered rows\\\" = Table.SelectRows(#\\\"Choose columns\\\", each [SITE_NAME] <> null),\\r\\n  #\\\"Filtered rows 1\\\" = Table.SelectRows(#\\\"Filtered rows\\\", each [STREET_ADDRESS] <> null),\\r\\n  #\\\"Filtered rows 2\\\" = Table.SelectRows(#\\\"Filtered rows 1\\\", each [CITY] <> null),\\r\\n  #\\\"Filtered rows 3\\\" = Table.SelectRows(#\\\"Filtered rows 2\\\", each [STATE] <> null),\\r\\n  #\\\"Merged queries\\\" = Table.NestedJoin(#\\\"Filtered rows 3\\\", {\\\"SITE\\\"}, vwGP_CUSTOMER_MSTR, {\\\"CUSTNMBR\\\"}, \\\"vwGP_CUSTOMER_MSTR\\\", JoinKind.LeftOuter),\\r\\n  #\\\"Merged queries 1\\\" = Table.NestedJoin(#\\\"Merged queries\\\", {\\\"SITE\\\"}, WORKDAY_SITE_MANAGERS, {\\\"SITE\\\"}, \\\"WORKDAY_SITE_MANAGERS\\\", JoinKind.LeftOuter)\\r\\nin\\r\\n  #\\\"Merged queries 1\\\";\\r\\nshared vwGP_CUSTOMER_MSTR = let\\r\\n  Source = Sql.Databases(Server),\\r\\n  Navigation = Source{[Name = Database]}[Data],\\r\\n  #\\\"Navigation 1\\\" = Navigation{[Schema = \\\"dbo\\\", Item = \\\"vwGP_CUSTOMER_MSTR\\\"]}[Data],\\r\\n  #\\\"Choose columns\\\" = Table.SelectColumns(#\\\"Navigation 1\\\", {\\\"CUSTNMBR\\\", \\\"EMAIL_RECIPIENT\\\"}),\\r\\n  #\\\"Filtered rows\\\" = Table.SelectRows(#\\\"Choose columns\\\", each [EMAIL_RECIPIENT] <> null and [EMAIL_RECIPIENT] <> \\\"                                                                                                                                                                                                         \\\")\\r\\nin\\r\\n  #\\\"Filtered rows\\\";\\r\\nshared WORKDAY_SITE_MANAGERS = let\\r\\n  Source = Sql.Databases(Server),\\r\\n  Navigation = Source{[Name = Database]}[Data],\\r\\n  #\\\"Navigation 1\\\" = Navigation{[Schema = \\\"dbo\\\", Item = \\\"WORKDAY_SITE_MANAGERS\\\"]}[Data],\\r\\n  #\\\"Choose columns\\\" = Table.SelectColumns(#\\\"Navigation 1\\\", {\\\"SITE\\\", \\\"ACCT_MGR_EMPLOYEE_ID\\\", \\\"ACCT_MGR_LAST_NAME\\\", \\\"ACCT_MGR_FIRST_NAME\\\"}),\\r\\n  #\\\"Trimmed text\\\" = Table.TransformColumns(#\\\"Choose columns\\\", {{\\\"SITE\\\", each Text.Trim(_), type nullable text}})\\r\\nin\\r\\n  #\\\"Trimmed text\\\";\\r\\n\",\"queryGroups\":[{\"id\":\"f8f78cae-bf36-4874-b556-a923dbb7bf84\",\"name\":\"Parameters\",\"description\":null,\"parentId\":null,\"order\":0}],\"documentLocale\":\"en-US\",\"gatewayObjectId\":\"4118d1ab-d5de-470d-8e93-dccae239546b\",\"queriesMetadata\":{\"Server\":{\"queryId\":\"c9897e13-fd66-4ca4-9e51-b22548981885\",\"queryName\":\"Server\",\"queryGroupId\":\"f8f78cae-bf36-4874-b556-a923dbb7bf84\",\"entityName\":null,\"lastKnownIsCalculatedEntity\":false,\"lastKnownIsLinkedEntity\":false,\"lastKnownIsParameter\":true,\"isHidden\":null,\"lastKnownResultTypeName\":\"text\",\"loadEnabled\":false,\"fieldsMetadata\":{},\"deleteExistingDataOnLoad\":false,\"hostProperties\":{},\"jsonOutputDestinations\":null,\"bindToDefaultOutputDestination\":null,\"jsonIncrementalRefreshSettings\":null,\"stagingDefinition\":null},\"Database\":{\"queryId\":\"f2018b41-3043-47fb-9591-bf8ea022a168\",\"queryName\":\"Database\",\"queryGroupId\":\"f8f78cae-bf36-4874-b556-a923dbb7bf84\",\"entityName\":null,\"lastKnownIsCalculatedEntity\":false,\"lastKnownIsLinkedEntity\":false,\"lastKnownIsParameter\":true,\"isHidden\":null,\"lastKnownResultTypeName\":\"text\",\"loadEnabled\":false,\"fieldsMetadata\":{},\"deleteExistingDataOnLoad\":false,\"hostProperties\":{},\"jsonOutputDestinations\":null,\"bindToDefaultOutputDestination\":null,\"jsonIncrementalRefreshSettings\":null,\"stagingDefinition\":null},\"MASTER_NON_FINANCIAL\":{\"queryId\":\"326e73b5-eb97-46c8-acbc-15b7bfff589d\",\"queryName\":\"MASTER_NON_FINANCIAL\",\"queryGroupId\":null,\"entityName\":null,\"lastKnownIsCalculatedEntity\":false,\"lastKnownIsLinkedEntity\":false,\"lastKnownIsParameter\":false,\"isHidden\":false,\"lastKnownResultTypeName\":\"table\",\"loadEnabled\":true,\"fieldsMetadata\":{},\"deleteExistingDataOnLoad\":false,\"hostProperties\":{},\"jsonOutputDestinations\":null,\"bindToDefaultOutputDestination\":null,\"jsonIncrementalRefreshSettings\":null,\"stagingDefinition\":null},\"vwGP_CUSTOMER_MSTR\":{\"queryId\":\"4f74c775-36df-483e-b9f3-89357cd4ef74\",\"queryName\":\"vwGP_CUSTOMER_MSTR\",\"queryGroupId\":null,\"entityName\":null,\"lastKnownIsCalculatedEntity\":false,\"lastKnownIsLinkedEntity\":false,\"lastKnownIsParameter\":false,\"isHidden\":false,\"lastKnownResultTypeName\":\"table\",\"loadEnabled\":false,\"fieldsMetadata\":{},\"deleteExistingDataOnLoad\":false,\"hostProperties\":{},\"jsonOutputDestinations\":null,\"bindToDefaultOutputDestination\":null,\"jsonIncrementalRefreshSettings\":null,\"stagingDefinition\":null},\"WORKDAY_SITE_MANAGERS\":{\"queryId\":\"e140f993-2fea-459e-9f9d-d71f248bdb7d\",\"queryName\":\"WORKDAY_SITE_MANAGERS\",\"queryGroupId\":null,\"entityName\":null,\"lastKnownIsCalculatedEntity\":false,\"lastKnownIsLinkedEntity\":false,\"lastKnownIsParameter\":false,\"isHidden\":false,\"lastKnownResultTypeName\":\"table\",\"loadEnabled\":false,\"fieldsMetadata\":{},\"deleteExistingDataOnLoad\":false,\"hostProperties\":{},\"jsonOutputDestinations\":null,\"bindToDefaultOutputDestination\":null,\"jsonIncrementalRefreshSettings\":null,\"stagingDefinition\":null}},\"connectionOverrides\":[{\"kind\":\"SQL\",\"provider\":\"PowerApps\",\"authenticationKind\":\"\",\"environmentName\":\"4391e935-a6e1-ed95-99fa-4b7654dd9113\",\"apiName\":\"sql\",\"connectionName\":\"c2713555028e4cce928894d29b168d52\",\"credentialDetails\":{}}],\"trustedConnections\":null,\"useHostConnectionProvider\":false,\"fastCombine\":false,\"allowNativeQueries\":false,\"allowedModules\":null,\"skipAutomaticTypeAndHeaderDetection\":false,\"disableAutoAnonymousConnectionUpsert\":null,\"hostProperties\":null,\"defaultOutputDestinationConfiguration\":null,\"stagingDefinition\":null}"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql",
              "operationId": "SqlExecutePassThroughPowerQuery",
              "connectionName": "shared_sql"
            },
            "retryPolicy": {
              "type": "fixed",
              "count": 3,
              "interval": "PT30S"
            }
          },
          "description": "For the tables: MASTER_NON_FINANCIAL, vwGP_CUSTOMER_MSTR and WORKDAY_SITE_MANAGERS.\n\nThis query:\n- Selects the relevant columns of each table.\n- Filters out rows with null values in columns that are required.\n- Merges the three tables with LEFT_OUTER JOIN"
        },
        "Parse_JSON": {
          "runAfter": {
            "Transform_data_using_Power_Query": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7c2fd5df-922f-452a-b7d8-7d8c09a5366d"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@body('Transform_data_using_Power_Query')",
            "schema": {
              "type": "object",
              "properties": {
                "resultType": {
                  "type": "string"
                },
                "value": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "SITE": {
                        "type": "string"
                      },
                      "SITE_NAME": {
                        "type": "string"
                      },
                      "DISTRICT": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "STREET_ADDRESS": {
                        "type": "string"
                      },
                      "CITY": {
                        "type": "string"
                      },
                      "STATE": {
                        "type": "string"
                      },
                      "GL_STRING": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "TP_DEPOSITS": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "P_CONTRACT_TYPE": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "FIRST_WORKED_DATE": {
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "vwGP_CUSTOMER_MSTR": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "CUSTNMBR": {
                              "type": "string"
                            },
                            "EMAIL_RECIPIENT": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "CUSTNMBR",
                            "EMAIL_RECIPIENT"
                          ]
                        }
                      },
                      "WORKDAY_SITE_MANAGERS": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "SITE": {
                              "type": "string"
                            },
                            "ACCT_MGR_EMPLOYEE_ID": {
                              "type": "string"
                            },
                            "ACCT_MGR_LAST_NAME": {
                              "type": "string"
                            },
                            "ACCT_MGR_FIRST_NAME": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "SITE",
                            "ACCT_MGR_EMPLOYEE_ID",
                            "ACCT_MGR_LAST_NAME",
                            "ACCT_MGR_FIRST_NAME"
                          ]
                        }
                      }
                    },
                    "required": [
                      "SITE",
                      "SITE_NAME",
                      "DISTRICT",
                      "STREET_ADDRESS",
                      "CITY",
                      "STATE",
                      "GL_STRING",
                      "vwGP_CUSTOMER_MSTR",
                      "WORKDAY_SITE_MANAGERS"
                    ]
                  }
                }
              }
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@body('Parse_JSON')?['value']",
          "actions": {
            "Get_Site_by_Number": {
              "metadata": {
                "operationMetadataId": "00d93fab-31fb-4896-bb1a-e08958ed002f"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "bs_mastercustomersites",
                  "$select": "bs_mastercustomersiteid, bs_sitenumber",
                  "$filter": "bs_sitenumber eq '@{item()?['SITE']}'",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Update_a_row": {
              "runAfter": {
                "Compose_Acct_Mgr": [
                  "Succeeded"
                ],
                "Compose_Email_Recipient": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4f72bf8b-f947-49cc-b7ab-33cbcb8a123c"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "bs_mastercustomersites",
                  "recordId": "@coalesce(first(outputs('Get_Site_By_Number')?['body/value'])?['bs_mastercustomersiteid'], guid())",
                  "item/bs_address": "@concat(item()?['STREET_ADDRESS'], ', ', item()?['CITY'], ', ', item()?['STATE'], ' ', item()?['ZIP'])",
                  "item/bs_deposits": "@equals(item()?['TP_DEPOSITS'], 'Y')",
                  "item/bs_glstring": "@item()?['GL_STRING']",
                  "item/bs_sitename": "@item()?['SITE_NAME']",
                  "item/bs_sitenumber": "@item()?['SITE']",
                  "item/bs_accountmanager": "@trim(concat(outputs('Compose_Acct_Mgr')?['ACCT_MGR_FIRST_NAME'], ' ', outputs('Compose_Acct_Mgr')?['ACCT_MGR_LAST_NAME']))",
                  "item/bs_accountmanagerid": "@outputs('Compose_Acct_Mgr')?['ACCT_MGR_EMPLOYEE_ID']",
                  "item/bs_billingcontactemail": "@trim(coalesce(outputs('Compose_Email_Recipient')?['EMAIL_RECIPIENT'], ''))",
                  "item/bs_contracttypestring": "@item()?['P_CONTRACT_TYPE']",
                  "item/bs_district": "@item()?['DISTRICT']",
                  "item/bs_startdate": "@item()?['FIRST_WORKED_DATE']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Compose_Acct_Mgr": {
              "runAfter": {
                "Get_Site_by_Number": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "582dcfae-2e1e-42d4-87c2-a623bebb776c"
              },
              "type": "Compose",
              "inputs": "@first(item()?['WORKDAY_SITE_MANAGERS'])"
            },
            "Compose_Email_Recipient": {
              "runAfter": {
                "Get_Site_by_Number": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "d162bd1c-224c-4627-b81d-4354e89967ed"
              },
              "type": "Compose",
              "inputs": "@first(item()?['vwGP_CUSTOMER_MSTR'])"
            }
          },
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1a4e768e-6cd8-4d3b-baa8-2df5f4be5003"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}