repos/Towne-Park-Billing-Source-Code/Towne-Park-Billing-PA-Solution/BillingSystem/Workflows/ManagementFeeChildFlow20250408-75FC4153-AA14-F011-998A-000D3A5AC294.json
{
  "properties": {
    "connectionReferences": {
      "shared_sql-1": {
        "api": {
          "name": "shared_sql"
        },
        "connection": {
          "connectionReferenceLogicalName": "bs_sharedsql_1e4c4"
        },
        "runtimeSource": "embedded"
      },
      "shared_sql": {
        "api": {
          "name": "shared_sql"
        },
        "connection": {
          "connectionReferenceLogicalName": "bs_TowneParkEDW"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "date": {
                  "title": "ServicePeriodStart",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "Start date for service period",
                  "x-ms-content-hint": "DATE"
                },
                "number_1": {
                  "title": "InvoiceGroup",
                  "type": "number",
                  "x-ms-dynamically-added": true,
                  "description": "Target invoice group",
                  "x-ms-content-hint": "NUMBER"
                },
                "text": {
                  "title": "SiteNumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Customer Site number (i.e. \"0452\")",
                  "x-ms-content-hint": "TEXT"
                },
                "date_1": {
                  "title": "ServiceEndDate",
                  "type": "string",
                  "format": "date",
                  "x-ms-dynamically-added": true,
                  "description": "End date for service period",
                  "x-ms-content-hint": "DATE"
                },
                "text_1": {
                  "description": "Please enter Management Agreement object",
                  "title": "ManagementAgreementObject",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "text_2": {
                  "description": "Please enter contract types",
                  "title": "ContractType",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "date",
                "number_1",
                "text",
                "date_1",
                "text_1",
                "text_2"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "8320850f-96e4-451f-99e3-2ed5ca00cb3b"
          }
        }
      },
      "actions": {
        "Condition_-_are_parameters_empty_or_invoice_not_selected": {
          "type": "If",
          "expression": {
            "or": [
              {
                "equals": [
                  "@triggerBody()['date']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['text']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['date_1']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()['number_1']",
                  "@null"
                ]
              },
              {
                "equals": [
                  "@triggerBody()?['text_1']",
                  "@null"
                ]
              }
            ]
          },
          "actions": {
            "Respond_Empty_To_Parent": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('ManagementFeeTotalAmount')",
                  "lineitems": "@{variables('LineItems')}"
                }
              },
              "operationOptions": "Asynchronous",
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              }
            },
            "Terminate": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Respond_Empty_To_Parent": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7c7352b5-4a00-46ce-a406-3f8a185c31e3"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Initialize_LineItems_variable": [
              "Succeeded"
            ],
            "Initialize_ManagementFeeTotalAmount_variable": [
              "Succeeded"
            ],
            "Initialize_RegularMinutes_variable": [
              "Succeeded"
            ],
            "Initialize_Overtime_Minutes_variable": [
              "Succeeded"
            ],
            "Initialize_Per_Labor_Hour_Line_Items_array_variable": [
              "Succeeded"
            ],
            "Initialize_Invoice_Sub_Total_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "562702e7-2a18-40d4-9106-ca1001dadfd0"
          }
        },
        "Condition_Check_If_Contract_Does_not_Contain_Management_Agreement": {
          "type": "If",
          "expression": {
            "and": [
              {
                "equals": [
                  "@contains(triggerBody()?['text_2'], '126840009')",
                  "@false"
                ]
              }
            ]
          },
          "actions": {
            "Terminate_2": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Respond_Empty_To_Parent_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b3bd6280-8871-4a56-a916-3c36cc8e523c"
              }
            },
            "Respond_Empty_To_Parent_2": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('ManagementFeeTotalAmount')",
                  "lineitems": "@{variables('LineItems')}"
                }
              },
              "operationOptions": "Asynchronous",
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Condition_-_are_parameters_empty_or_invoice_not_selected": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "96805da2-a442-417c-9556-70633b9cf328"
          }
        },
        "Parse_JSON_-_Management_Agreement_Object": {
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerBody()?['text_1']",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "bs_invoicegroup@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_invoicegroup": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_managementagreementtype": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_managementagreementtype@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_fixedfeeamount@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_fixedfeeamount": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_perlaborhourjobcode": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_perlaborhourrate@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_perlaborhourrate": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_perlaborhourovertimerate@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_perlaborhourovertimerate": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_revenuepercentageamount@OData.Community.Display.V1.FormattedValue": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "bs_revenuepercentageamount": {
                    "type": [
                      "integer",
                      "number",
                      "null"
                    ]
                  },
                  "bs_managementagreementid": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          },
          "runAfter": {
            "Condition_Check_If_Contract_Does_not_Contain_Management_Agreement": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9d97ae81-2653-4ed9-b440-6a0a50ec1b07"
          }
        },
        "Initialize_LineItems_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "LineItems",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "fcf742e8-6bd4-44c2-8c4d-0d1df0c51842"
          }
        },
        "Initialize_ManagementFeeTotalAmount_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ManagementFeeTotalAmount",
                "type": "float",
                "value": 0
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4bfb229e-eba7-492d-8f45-7a773054a4cb"
          }
        },
        "Compose_-_Expense_Accounts_invoice_group_number": {
          "type": "Compose",
          "inputs": "@first(body('Parse_JSON_-_Management_Agreement_Object')).bs_invoicegroup",
          "runAfter": {
            "Parse_JSON_-_Management_Agreement_Object": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dd764d6f-a918-432f-87c1-98912589819c"
          }
        },
        "Condition_-_Expense_Accounts_is_not_on_Invoice": {
          "type": "If",
          "expression": {
            "and": [
              {
                "not": {
                  "equals": [
                    "@outputs('Compose_-_Expense_Accounts_invoice_group_number')",
                    "@triggerBody()?['number_1']"
                  ]
                }
              }
            ]
          },
          "actions": {
            "Respond_Empty_To_Parent_3": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoicesubtotal": {
                      "title": "InvoiceSubTotal",
                      "x-ms-dynamically-added": true,
                      "type": "number"
                    },
                    "lineitems": {
                      "title": "LineItems",
                      "x-ms-dynamically-added": true,
                      "type": "string"
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "invoicesubtotal": "@variables('ManagementFeeTotalAmount')",
                  "lineitems": "@{variables('LineItems')}"
                }
              },
              "operationOptions": "Asynchronous",
              "metadata": {
                "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
              }
            },
            "Terminate_3": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              },
              "runAfter": {
                "Respond_Empty_To_Parent_3": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b3bd6280-8871-4a56-a916-3c36cc8e523c"
              }
            }
          },
          "else": {
            "actions": {}
          },
          "runAfter": {
            "Compose_-_Expense_Accounts_invoice_group_number": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "dc443fd2-ba2a-44c0-b553-3a7f2cafaf54"
          }
        },
        "Switch_-_bs_managementagreementtype": {
          "type": "Switch",
          "expression": "@first(outputs('Parse_JSON_-_Management_Agreement_Object')['body'])?['bs_managementagreementtype']",
          "default": {
            "actions": {}
          },
          "cases": {
            "Case_Fixed_Fee": {
              "actions": {
                "Compose_Fixed_Fee_Line_Item": {
                  "type": "Compose",
                  "inputs": [
                    {
                      "title": "Management Fee",
                      "description": "",
                      "code": "4791",
                      "amount": "@coalesce(first(outputs('Parse_JSON_-_Management_Agreement_Object')['body'])?['bs_fixedfeeamount'],0)",
                      "metaData": {
                        "lineItemType": "managementFee",
                        "isManagementFee": true,
                        "isProfitDeduction": true
                      }
                    }
                  ],
                  "metadata": {
                    "operationMetadataId": "5a1bbebc-26da-4410-a077-6571f77abce1"
                  }
                },
                "Respond_To_Parent_Fixed_Fee": {
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "invoicesubtotal": {
                          "title": "InvoiceSubTotal",
                          "x-ms-dynamically-added": true,
                          "type": "number"
                        },
                        "lineitems": {
                          "title": "LineItems",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "invoicesubtotal": "@coalesce(first(outputs('Parse_JSON_-_Management_Agreement_Object')['body'])?['bs_fixedfeeamount'],0)",
                      "lineitems": "@{outputs('Compose_Fixed_Fee_Line_Item')}"
                    }
                  },
                  "runAfter": {
                    "Compose_Fixed_Fee_Line_Item": [
                      "Succeeded"
                    ]
                  },
                  "operationOptions": "Asynchronous",
                  "metadata": {
                    "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
                  }
                }
              },
              "case": 126840000
            },
            "Case_Per_Labor_Hour": {
              "actions": {
                "Respond_To_Parent_Per_Labor_Hour": {
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "invoicesubtotal": {
                          "title": "InvoiceSubTotal",
                          "x-ms-dynamically-added": true,
                          "type": "number"
                        },
                        "lineitems": {
                          "title": "LineItems",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "invoicesubtotal": "@variables('InvoiceSubTotal')",
                      "lineitems": "@{variables('PerLaborHourLineItems')}"
                    }
                  },
                  "runAfter": {
                    "For_each_Job_Code_Data": [
                      "Succeeded"
                    ]
                  },
                  "operationOptions": "Asynchronous",
                  "metadata": {
                    "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
                  }
                },
                "For_each_Job_Code_Data": {
                  "type": "Foreach",
                  "foreach": "@json(first(outputs('Parse_JSON_-_Management_Agreement_Object')['body'])?['bs_perlaborhourjobcodedata'])",
                  "actions": {
                    "Get_TIMESHEET_rows": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "server": "default",
                          "database": "default",
                          "table": "[dbo].[TIMESHEET_ENTITY]",
                          "$filter": "LOCATION_EXTERNAL_ID eq '@{triggerBody()?['text']}' AND YEAR eq @{formatDateTime(triggerBody()?['date'], 'yyyy')} AND DAY_OF_THE_YEAR ge @{dayOfYear(triggerBody()?['date'])} AND DAY_OF_THE_YEAR le @{dayOfYear(triggerBody()?['date_1'])} AND WORK_ROLE eq '@{items('For_each_Job_Code_Data')?['Code']}'",
                          "$select": "WORK_ROLE, DAY_OF_THE_YEAR, REGULAR_MINUTES, REGULAR_MINUTES_NEXT_DAY, OVERTIME_MINUTES, OVERTIME_MINUTES_NEXT_DAY, HOLIDAY_MINUTES, HOLIDAY_MINUTES_NEXT_DAY"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql",
                          "operationId": "GetItems_V2",
                          "connectionName": "shared_sql-1"
                        },
                        "retryPolicy": {
                          "type": "fixed",
                          "count": 3,
                          "interval": "PT30S"
                        }
                      },
                      "runAfter": {
                        "Reset_RegularMinutes_variable": [
                          "Succeeded"
                        ],
                        "Reset_OvertimeMinutes_variable": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "47a9584c-33d3-416c-bf45-e28792a2e9fd"
                      }
                    },
                    "For_each": {
                      "type": "Foreach",
                      "foreach": "@outputs('Get_TIMESHEET_rows')?['body/value']",
                      "actions": {
                        "Increment_RegularMinutes_variable": {
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "RegularMinutes",
                            "value": "@add(item()?['REGULAR_MINUTES'],item()?['REGULAR_MINUTES_NEXT_DAY'])"
                          },
                          "metadata": {
                            "operationMetadataId": "6e3203a9-290f-48e4-80cc-ec1f4d5f3096"
                          }
                        },
                        "Increment_OvertimeMinutes_variable": {
                          "type": "IncrementVariable",
                          "inputs": {
                            "name": "OvertimeMinutes",
                            "value": "@add(item()?['OVERTIME_MINUTES'],item()?['OVERTIME_MINUTES_NEXT_DAY'])"
                          },
                          "metadata": {
                            "operationMetadataId": "338d459e-dd24-428c-b71f-43839bb6d244"
                          }
                        }
                      },
                      "runAfter": {
                        "Get_TIMESHEET_rows": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "24c06e32-dfe3-4226-a841-8a6c3ddca723"
                      }
                    },
                    "Scope-copy": {
                      "type": "Scope",
                      "actions": {
                        "Compose_RegularHours": {
                          "type": "Compose",
                          "inputs": "@div(variables('RegularMinutes'), 60)",
                          "metadata": {
                            "operationMetadataId": "0cfd4405-1b31-481b-825b-39b93091ab41"
                          }
                        },
                        "Compose_OvertimeHours": {
                          "type": "Compose",
                          "inputs": "@div(variables('OvertimeMinutes'), 60)",
                          "metadata": {
                            "operationMetadataId": "56688cf9-aae8-4788-b778-2ded865ae643"
                          }
                        }
                      },
                      "runAfter": {
                        "For_each": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a7f456c9-dbc2-4663-b099-f7fa9e67af23"
                      }
                    },
                    "Compose_RegularHoursCost": {
                      "type": "Compose",
                      "inputs": "@float(formatNumber(mul(items('For_each_Job_Code_Data')?['StandardRate'], outputs('Compose_RegularHours')), '#.00'))",
                      "runAfter": {
                        "Scope-copy": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8250edcf-efe4-47bb-abba-04050163ded8"
                      }
                    },
                    "Compose_OvertimeHoursCost": {
                      "type": "Compose",
                      "inputs": "@float(formatNumber(mul(items('For_each_Job_Code_Data')?['OvertimeRate'], outputs('Compose_OvertimeHours')), '#.00'))",
                      "runAfter": {
                        "Scope-copy": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "d6161656-ec26-42a4-8eee-a026fd28f15d"
                      }
                    },
                    "Compose_Regular_time_Invoice_Text": {
                      "type": "Compose",
                      "inputs": "Total Hours Worked: @{if(greater(outputs('Compose_RegularHours'), 0), float(formatNumber(outputs('Compose_RegularHours'), 'N4', 'en-US')), 0)\r\n\r\n}.\nTowne Park Service Fee at $@{items('For_each_Job_Code_Data')?['StandardRate']} Per Person Hour",
                      "runAfter": {
                        "Scope-copy": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "6594d971-6261-4769-bc9a-4d4950090d5f"
                      }
                    },
                    "Compose_Overtime_Invoice_Text": {
                      "type": "Compose",
                      "inputs": "\nTotal Overtime Hours Worked: @{if(greater(outputs('Compose_OvertimeHours'), 0), float(formatNumber(outputs('Compose_OvertimeHours'), 'N4', 'en-US')), 0)\r\n\r\n}.\nTowne Park Service Overtime Fee at $@{items('For_each_Job_Code_Data')?['OvertimeRate']} Per Person Hour.",
                      "runAfter": {
                        "Scope-copy": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "13e8965d-87bc-44ef-927b-ce0a8593326e"
                      }
                    },
                    "Compose_Per_Labor_Hour_Line_Item": {
                      "type": "Compose",
                      "inputs": [
                        {
                          "title": "Management Fee",
                          "description": "@if(greater(variables('OvertimeMinutes'), 0), concat(outputs('Compose_Regular_time_Invoice_Text'), outputs('Compose_Overtime_Invoice_Text')), outputs('Compose_Regular_time_Invoice_Text'))",
                          "code": "4791",
                          "amount": "@add(outputs('Compose_RegularHoursCost'),outputs('Compose_OvertimeHoursCost'))",
                          "metaData": {
                            "lineItemType": "managementFee",
                            "isManagementFee": true,
                            "isProfitDeduction": true
                          }
                        }
                      ],
                      "runAfter": {
                        "Compose_Regular_time_Invoice_Text": [
                          "Succeeded"
                        ],
                        "Compose_RegularHoursCost": [
                          "Succeeded"
                        ],
                        "Compose_OvertimeHoursCost": [
                          "Succeeded"
                        ],
                        "Compose_Overtime_Invoice_Text": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "5a1bbebc-26da-4410-a077-6571f77abce1"
                      }
                    },
                    "Append_Per_Labor_Hour_Line_Items": {
                      "type": "AppendToArrayVariable",
                      "inputs": {
                        "name": "PerLaborHourLineItems",
                        "value": "@first(outputs('Compose_Per_Labor_Hour_Line_Item'))"
                      },
                      "runAfter": {
                        "Compose_Per_Labor_Hour_Line_Item": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Increment_Invoice_Sub_Total_variable": {
                      "type": "IncrementVariable",
                      "inputs": {
                        "name": "InvoiceSubTotal",
                        "value": "@first(outputs('Compose_Per_Labor_Hour_Line_Item'))?['amount']"
                      },
                      "runAfter": {
                        "Compose_Per_Labor_Hour_Line_Item": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Reset_RegularMinutes_variable": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "RegularMinutes",
                        "value": 0
                      }
                    },
                    "Reset_OvertimeMinutes_variable": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "OvertimeMinutes",
                        "value": 0
                      }
                    }
                  }
                }
              },
              "case": 126840001
            },
            "Case_Revenue_Percentage": {
              "actions": {
                "Compose_Revenue_Percentage_Line_Item": {
                  "type": "Compose",
                  "inputs": [
                    {
                      "title": "Management Fee",
                      "description": "@concat('Total Base for Fee Calculation: ',formatNumber(coalesce(first(outputs('Get_TotalNetExternalRevenue_rows')?['body/value'])?['TotalNetExternalRevenue'],0),'C2'))",
                      "code": "4791",
                      "amount": "@mul(coalesce(first(outputs('Get_TotalNetExternalRevenue_rows')?['body/value'])?['TotalNetExternalRevenue'],0),div(first(outputs('Parse_JSON_-_Management_Agreement_Object')['body'])?['bs_revenuepercentageamount'],100))",
                      "metaData": {
                        "lineItemType": "managementFee",
                        "isManagementFee": true,
                        "isProfitDeduction": true
                      }
                    }
                  ],
                  "runAfter": {
                    "Get_TotalNetExternalRevenue_rows": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5a1bbebc-26da-4410-a077-6571f77abce1"
                  }
                },
                "Respond_To_Parent_Revenue_Percentage": {
                  "type": "Response",
                  "kind": "PowerApp",
                  "inputs": {
                    "schema": {
                      "type": "object",
                      "properties": {
                        "invoicesubtotal": {
                          "title": "InvoiceSubTotal",
                          "x-ms-dynamically-added": true,
                          "type": "number"
                        },
                        "lineitems": {
                          "title": "LineItems",
                          "x-ms-dynamically-added": true,
                          "type": "string"
                        }
                      },
                      "additionalProperties": {}
                    },
                    "statusCode": 200,
                    "body": {
                      "invoicesubtotal": "@mul(coalesce(first(outputs('Get_TotalNetExternalRevenue_rows')?['body/value'])?['TotalNetExternalRevenue'],0),div(first(outputs('Parse_JSON_-_Management_Agreement_Object')['body'])?['bs_revenuepercentageamount'],100))",
                      "lineitems": "@{outputs('Compose_Revenue_Percentage_Line_Item')}"
                    }
                  },
                  "runAfter": {
                    "Compose_Revenue_Percentage_Line_Item": [
                      "Succeeded"
                    ]
                  },
                  "operationOptions": "Asynchronous",
                  "metadata": {
                    "operationMetadataId": "54fce644-4301-4783-9265-7e828967c21f"
                  }
                },
                "Get_TotalNetExternalRevenue_rows": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "server": "default",
                      "database": "default",
                      "table": "[dbo].[vwREVENUE_DAILY_DETAIL_INVOICE]",
                      "$apply": "filter(SITE eq '@{triggerBody()?['text']}' and year(DATE) eq @{formatDateTime(triggerBody()?['date'],'yyyy')} and month(DATE) eq @{formatDateTime(triggerBody()?['date'],'MM')} and DEPOSIT_FLAG ne 'V' and REVENUE_CATEGORY ne 'Per Man Hour')/aggregate(NETEXTERNALREVENUE with sum as TotalNetExternalRevenue)",
                      "$select": "TotalNetExternalRevenue"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sql",
                      "operationId": "GetItems_V2",
                      "connectionName": "shared_sql"
                    },
                    "retryPolicy": {
                      "type": "fixed",
                      "count": 3,
                      "interval": "PT30S"
                    }
                  },
                  "metadata": {
                    "operationMetadataId": "18b71936-2a7e-42be-840d-7460322afee4"
                  }
                }
              },
              "case": 126840002
            }
          },
          "runAfter": {
            "Condition_-_Expense_Accounts_is_not_on_Invoice": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ddc53c1b-a712-483c-9261-5764ea3a9cb7"
          }
        },
        "Initialize_RegularMinutes_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "RegularMinutes",
                "type": "float",
                "value": 0
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "c003d794-3cfe-43bb-80e1-25be52bc538a"
          }
        },
        "Initialize_Overtime_Minutes_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "OvertimeMinutes",
                "type": "float",
                "value": 0
              }
            ]
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "970f4ff5-c4be-4a4c-9a6e-349367babee0"
          }
        },
        "Initialize_Per_Labor_Hour_Line_Items_array_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "PerLaborHourLineItems",
                "type": "array",
                "value": []
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_Invoice_Sub_Total_variable": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "InvoiceSubTotal",
                "type": "float",
                "value": 0
              }
            ]
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}