repos/Towne-Park-Billing-Source-Code/Towne-Park-Billing-PA-Solution/BillingSystemMonitoring/Workflows/CapacityAlertFlow-CC0D1317-DC4C-F011-877A-002248029144.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerplatformadminv2-1": {
        "api": {
          "name": "shared_powerplatformadminv2"
        },
        "connection": {
          "connectionReferenceLogicalName": "bs_sharedpowerplatformadminv2_f60bb"
        },
        "runtimeSource": "embedded"
      },
      "shared_bs-5fsendmailbyserviceprincipal-5f793423c41454f92f": {
        "api": {
          "name": "shared_bs-5fsendmailbyserviceprincipal-5f793423c41454f92f",
          "logicalName": "bs_5Fsendmailbyserviceprincipal"
        },
        "connection": {
          "connectionReferenceLogicalName": "bs_sharedbs5fsendmailbyserviceprincipal5f4c81ae98d9d3b3ec_4c912"
        },
        "runtimeSource": "embedded"
      },
      "shared_commondataserviceforapps-1": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_7558e"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1
          },
          "metadata": {
            "operationMetadataId": "f257a0db-cb37-4a77-8080-6a45049d2c64"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Get_the_tenant_capacity_details_for_the_tenant": {
          "runAfter": {
            "Set_variable_-_Email_Recipients": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "api-version": "2022-03-01-preview"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerplatformadminv2",
              "operationId": "GetTenantCapacityDetails",
              "connectionName": "shared_powerplatformadminv2-1"
            }
          }
        },
        "Filter_array_Tenant_Capacity_Type": {
          "runAfter": {
            "Get_the_tenant_capacity_details_for_the_tenant": [
              "Succeeded"
            ]
          },
          "type": "Query",
          "inputs": {
            "from": "@body('Get_the_tenant_capacity_details_for_the_tenant')?['tenantCapacities']",
            "where": "@or(\r\n  equals(item()?['capacityType'], 'Database'),\r\n  equals(item()?['capacityType'], 'File'),\r\n  equals(item()?['capacityType'], 'Log')\r\n)"
          }
        },
        "Apply_to_each_-_Tenant_Capacity": {
          "foreach": "@body('Filter_array_Tenant_Capacity_Type')",
          "actions": {
            "Compose_-_Calculate_capacity_threshold": {
              "type": "Compose",
              "inputs": "@float(\r\n  formatNumber(\r\n    mul(\r\n      div(\r\n        float(items('Apply_to_each_-_Tenant_Capacity')?['consumption']?['rated']), \r\n        float(items('Apply_to_each_-_Tenant_Capacity')?['totalCapacity'])\r\n      ), \r\n      100\r\n     ), \r\n    '0.000'\r\n  )\r\n)"
            },
            "Condition_-_Is_capacity_threshold_greater_than_80": {
              "actions": {
                "SendMail": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "Content-Type": "application/json",
                      "body/message/subject": "[@{formatDateTime(utcNow(), 'yyyy-MM-dd')}] - Dataverse Capacity Alerts",
                      "body/message/body/contentType": "html",
                      "body/message/body/content": "<p class=\"editor-paragraph\">Hello team,</p>\n<p class=\"editor-paragraph\">This is to notify you that <b><strong>@{variables('CapacityThreshold')}%</strong></b> of storage capacity is consumed out of total alloted capacity. Below are the details for the storage capacity:</p>\n\n<table style=\"border-collapse: collapse; width: 100%; font-family: Arial, sans-serif;\">\n<thead>\n<tr style=\"background-color: #f2f2f2; text-align: left;\">\n<th style=\"border: 1px solid #ddd; padding: 8px;\">Alert Date</th>\n<th style=\"border: 1px solid #ddd; padding: 8px;\">Capacity Type</th>\n<th style=\"border: 1px solid #ddd; padding: 8px;\">Total Capacity</th>\n<th style=\"border: 1px solid #ddd; padding: 8px;\">Consumed Capacity</th>\n</tr>\n</thead>\n<tbody>\n<!-- Example Row -->\n<tr>\n<td style=\"border: 1px solid #ddd; padding: 8px;\">@{formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')}</td>\n<td style=\"border: 1px solid #ddd; padding: 8px;\">@{items('Apply_to_each_-_Tenant_Capacity')?['capacityType']}</td>\n<td style=\"border: 1px solid #ddd; padding: 8px;\">@{items('Apply_to_each_-_Tenant_Capacity')?['totalCapacity']} MB</td>\n<td style=\"border: 1px solid #ddd; padding: 8px; font-weight: bold;\">@{float(formatNumber(float(items('Apply_to_each_-_Tenant_Capacity')?['consumption']?['rated']),'0.000'))} MB</td>\n</tr>\n<!-- Add more rows dynamically -->\n</tbody>\n</table>\n\n<p class=\"editor-paragraph\"><b>Please consider taking some action to avoid any issues.</b></p>\n\n",
                      "body/message/toRecipients": [
                        {
                          "emailAddress": {
                            "address": "@variables('EmailRecipients')"
                          }
                        }
                      ],
                      "body/saveToSentItems": "false"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_bs-5fsendmailbyserviceprincipal-5f793423c41454f92f",
                      "operationId": "SendMail",
                      "connectionName": "shared_bs-5fsendmailbyserviceprincipal-5f793423c41454f92f"
                    }
                  }
                }
              },
              "runAfter": {
                "Set_variable_-_Capacity_threshold": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "greater": [
                      "@outputs('Compose_-_Calculate_capacity_threshold')",
                      80
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "Set_variable_-_Capacity_threshold": {
              "runAfter": {
                "Compose_-_Calculate_capacity_threshold": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable",
              "inputs": {
                "name": "CapacityThreshold",
                "value": "@outputs('Compose_-_Calculate_capacity_threshold')"
              }
            }
          },
          "runAfter": {
            "Filter_array_Tenant_Capacity_Type": [
              "Succeeded"
            ]
          },
          "type": "Foreach"
        },
        "Initialize_variable_-_Email_Recipients": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "EmailRecipients",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_Capacity_Threshold": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CapacityThreshold",
                "type": "float",
                "value": 0
              }
            ]
          }
        },
        "List_rows_for_Email_Recipients": {
          "runAfter": {
            "Initialize_variable_-_Email_Recipients": [
              "Succeeded"
            ],
            "Initialize_variable_-_Capacity_Threshold": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "bs_actionoverrideses",
              "$select": "bs_name,bs_description,bs_value,bs_isactive",
              "$filter": "bs_name eq 'GPErrorEmailOverride' and bs_isactive eq true",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps-1"
            }
          }
        },
        "Compose_Action_Override_Value": {
          "runAfter": {
            "List_rows_for_Email_Recipients": [
              "Succeeded"
            ]
          },
          "type": "Compose",
          "inputs": "@if(\r\n  empty(\r\n    first(\r\n      outputs('List_rows_for_Email_Recipients')?['body/value']\r\n    )?['bs_value']\r\n  ),\r\n  '',\r\n  first(\r\n    outputs('List_rows_for_Email_Recipients')?['body/value']\r\n  )?['bs_value']\r\n)"
        },
        "Set_variable_-_Email_Recipients": {
          "runAfter": {
            "Compose_Action_Override_Value": [
              "Succeeded"
            ]
          },
          "type": "SetVariable",
          "inputs": {
            "name": "EmailRecipients",
            "value": "@outputs('Compose_Action_Override_Value')"
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}