repos/Towne-Park-Billing-Source-Code/Towne-Park-Billing-PA-Solution/BillingSystemMonitoring/Workflows/DataflowMonitor-25A66470-1D5C-F011-BEC1-7C1E5202188C.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_7558e"
        },
        "runtimeSource": "embedded"
      },
      "shared_bs-5fsendmailbyserviceprincipal-5f4f4d8f3ae476f46d": {
        "api": {
          "name": "shared_bs-5fsendmailbyserviceprincipal-5f4f4d8f3ae476f46d",
          "logicalName": "bs_5Fsendmailbyserviceprincipal"
        },
        "connection": {
          "connectionReferenceLogicalName": "bs_sharedbs5fsendmailbyserviceprincipal5f4c81ae98d9d3b3ec_4c912"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EnvironmentName (bs_environmentName)": {
          "defaultValue": "Chris Thompson - DEV",
          "type": "String",
          "metadata": {
            "schemaName": "bs_environmentName"
          }
        },
        "Support Email (bs_SupportEmail)": {
          "defaultValue": "support@allata.com",
          "type": "String",
          "metadata": {
            "schemaName": "bs_SupportEmail"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added_to_Dataflow_Refresh_History": {
          "metadata": {
            "operationMetadataId": "7ae3ece9-bd04-4f20-80d7-5e85177d30b0"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "msdyn_dataflowrefreshhistory",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/name": "25a66470-1d5c-f011-bec1-7c1e5202188c"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Condition_is_Refresh_Status_Failed": {
          "actions": {
            "List_rows_for_Email_Recipients": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "bs_actionoverrideses",
                  "$select": "bs_name,bs_description,bs_value,bs_isactive",
                  "$filter": "bs_name eq 'GPErrorEmailOverride' and bs_isactive eq true",
                  "$top": 1
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Compose_Action_Override_Value": {
              "runAfter": {
                "List_rows_for_Email_Recipients": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@if(\r\n  empty(\r\n    first(\r\n      outputs('List_rows_for_Email_Recipients')?['body/value']\r\n    )?['bs_value']\r\n  ),\r\n  '',\r\n  first(\r\n    outputs('List_rows_for_Email_Recipients')?['body/value']\r\n  )?['bs_value']\r\n)"
            },
            "Filter_array_Remove_invalid_emails": {
              "runAfter": {
                "Compose_Action_Override_Value": [
                  "Succeeded"
                ]
              },
              "type": "Query",
              "inputs": {
                "from": "@split(outputs('Compose_Action_Override_Value'), ';')",
                "where": "@and(\r\n    contains(item(), '@'),\r\n    contains(item(), '.'),\r\n    not(equals(trim(item()), ''))\r\n)"
              }
            },
            "Select_Emails_into_Json_array": {
              "runAfter": {
                "Filter_array_Remove_invalid_emails": [
                  "Succeeded"
                ]
              },
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array_Remove_invalid_emails')",
                "select": {
                  "emailAddress": {
                    "address": "@{trim(item())}"
                  }
                }
              }
            },
            "Switch_Compose_error_message_based_on_Flow_Name": {
              "runAfter": {
                "List_rows_for_Email_Recipients": [
                  "Succeeded"
                ]
              },
              "cases": {
                "Case_Job_Codes": {
                  "case": "JobCodes",
                  "actions": {
                    "Set_variable_ErrorMessage_for_Job_Codes": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": {
                          "title": "Job Codes Data",
                          "impact": "Payroll Calculation",
                          "description": "This dataflow updates job codes by site, which are essential for payroll forecasting and Per Labor Hour (PLH) revenue calculations.",
                          "businessImpact": "<li>New job codes may not be available for selection in the forecasting system</li><li>Per Labor Hour (PLH) contract revenue calculations may be using outdated rates</li><li>Payroll forecasting may not reflect the most current job code structure</li><li>Labor cost projections may be inaccurate</li>",
                          "nextSteps": "<li>The IT team has been notified and will investigate the issue</li><li>Finance and Operations users should be aware that job code data may not be current</li><li>For critical updates to job codes, please contact the Finance Support Team</li>"
                        }
                      }
                    }
                  }
                },
                "Case_Billable_Expense_Budgets": {
                  "case": "BillableExpenseBudgets",
                  "actions": {
                    "Set_variable_ErrorMessage_for_Billable_Expense_Budgets": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": {
                          "title": "Billable Expense Budget Data",
                          "impact": "Budget Data",
                          "description": "This dataflow is responsible for updating billable expense budget values in the financial forecasting system.",
                          "businessImpact": "<li>Account Managers may see outdated or missing budget values for billable expenses</li><li>Financial forecasts that include billable expenses may be inaccurate</li><li>Management Agreement contract calculations may be affected</li>",
                          "nextSteps": "<li>The IT team has been notified and will investigate the issue</li><li>Finance users should be aware that billable expense budget data may not reflect the most recent updates</li><li>For urgent budget updates, please contact the Finance Support Team</li>"
                        }
                      }
                    }
                  }
                },
                "Case_Master_Customer_Site_Update": {
                  "case": "Master Customer Site Update",
                  "actions": {
                    "Set_variable_ErrorMessage_for_Master_Customer_Site_Update": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": {
                          "title": "Master Customer Site Data",
                          "impact": "Site Data",
                          "description": "This dataflow maintains the master database of customer sites used throughout the Powerbill and Forecasting systems.",
                          "businessImpact": "<li>New customer sites may not appear in the system</li><li>Recent customer site updates (address changes, contract updates, etc.) may not be reflected</li><li>Users may be unable to add new customers to Powerbill</li><li>Site attribute changes may not be propagated to the billing and forecasting systems</li>",
                          "nextSteps": "<li>The IT team has been notified and will investigate the issue</li><li>For urgent new customer setup or site changes, please contact the Finance Support Team</li><li>Account Managers should verify customer site information before processing critical transactions</li>"
                        }
                      }
                    }
                  }
                },
                "Case_User_Roles_and_Sites": {
                  "case": "UserRolesAndSites",
                  "actions": {
                    "Set_variable_ErrorMessage_for_User_Roles_and_Sites": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "ErrorMessage",
                        "value": {
                          "title": "User Roles and Site Access Data",
                          "impact": "User Access",
                          "description": "This dataflow assigns appropriate access roles and site visibility to Towne Park employees based on their organizational position.",
                          "businessImpact": "<li>New employees may not have proper system access</li><li>Recent role changes or promotions may not be reflected in system permissions</li><li>Users who have changed positions may see incorrect sites or have inappropriate access levels</li><li>Account Managers, District Managers, and other roles may not be able to access their assigned sites</li>",
                          "nextSteps": "<li>The IT team has been notified and will investigate the issue</li><li>For urgent user access issues, please contact IT Support directly</li><li>Managers should verify their team members have appropriate access before critical deadlines</li>"
                        }
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {}
              },
              "expression": "@triggerOutputs()?['body/msdyn_dataflowname']",
              "type": "Switch"
            },
            "Condition_error_message_is_set": {
              "actions": {
                "Send_Dataflow_Error_Email": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "Content-Type": "application/json",
                      "body/message/subject": "[@{parameters('EnvironmentName (bs_environmentName)')}] - A Dataflow Refresh has failed",
                      "body/message/body/contentType": "html",
                      "body/message/body/content": "<html>\n  <body style=\"font-family:Segoe UI,Arial,sans-serif; background-color:#f7f7f7; padding:30px;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width:650px; margin:auto; background:#fff; border-radius:8px; box-shadow:0 2px 8px rgba(0,0,0,0.05);\">\n      <tr>\n        <td style=\"background-color:#d32f2f; color:#fff; padding:24px 32px; border-radius:8px 8px 0 0;\">\n          <h2 style=\"margin:0; font-size:1.5em;\">🚨 ALERT: Finance System Data Refresh Failure - @{variables('ErrorMessage')?['impact']} Impact</h2>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"padding:32px;\">\n          <h3 style=\"color:#d32f2f; margin-top:0;\">FINANCE SYSTEM ALERT: @{variables('ErrorMessage')?['title']} Refresh Failure</h3>\n          \n          <div style=\"margin-bottom:18px;\">\n            <strong>What happened:</strong>\n            <p style=\"margin:8px 0 0 0;\">\n              The system has detected a failure in the <strong style=\"color:#d32f2f;\">@{triggerOutputs()?['body/msdyn_dataflowname']}</strong> dataflow refresh process. @{variables('ErrorMessage')?['description']}\n            </p>\n          </div>\n          \n          <div style=\"margin-bottom:18px;\">\n            <strong>Business Impact:</strong>\n            <ul style=\"margin:8px 0 0 20px; color:#b71c1c;\">\n               @{variables('ErrorMessage')?['businessImpact']}\n            </ul>\n          </div>\n          \n          <div style=\"margin-bottom:18px;\">\n            <strong>Technical Details:</strong>\n            <ul style=\"margin:8px 0 0 20px; color:#333;\">\n              <li><strong>Dataflow:</strong> @{triggerOutputs()?['body/msdyn_dataflowname']}</li>\n              <li><strong>Error occurred during scheduled refresh at:</strong> @{formatDateTime(convertTimeZone(triggerOutputs()?['body/msdyn_starttime'], 'UTC', 'Central Standard Time'), 'yyyy-MM-dd hh:mm tt')} CST</li>\n              <li>\n                <strong>Error details:</strong>\n                <div style=\"background:#fbe9e7; color:#b71c1c; border-left:4px solid #d32f2f; padding:12px; border-radius:4px; font-family:monospace; margin-top:4px;\">\n                  @{coalesce(triggerOutputs()?['body/msdyn_errorinfojson'],'unexpected error')}\n                </div>\n              </li>\n            </ul>\n          </div>\n          \n          <div style=\"margin-bottom:18px;\">\n            <strong>Next Steps:</strong>\n            <ol style=\"margin:8px 0 0 20px; color:#333;\">\n               @{variables('ErrorMessage')?['nextSteps']}\n            </ol>\n          </div>\n          \n          <div style=\"margin-bottom:0;\">\n            <strong>For technical assistance:</strong>\n            <p style=\"margin:8px 0 0 0;\">\n              Contact <a href=\"mailto:@{parameters('Support Email (bs_SupportEmail)')}\" style=\"color:#1976d2; text-decoration:none;\">@{parameters('Support Email (bs_SupportEmail)')}</a> and reference this alert.\n            </p>\n          </div>\n        </td>\n      </tr>\n      <tr>\n        <td style=\"background-color:#f7f7f7; color:#888; padding:16px 32px; border-radius:0 0 8px 8px; font-size:0.9em;\">\n          <em>This is an automated message from your Dataflow Monitoring System.</em>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n",
                      "body/message/toRecipients": "@body('Select_Emails_into_Json_array')",
                      "body/saveToSentItems": "false"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_bs-5fsendmailbyserviceprincipal-5f4f4d8f3ae476f46d",
                      "operationId": "SendMail",
                      "connectionName": "shared_bs-5fsendmailbyserviceprincipal-5f4f4d8f3ae476f46d"
                    }
                  }
                }
              },
              "runAfter": {
                "Select_Emails_into_Json_array": [
                  "Succeeded"
                ],
                "Switch_Compose_error_message_based_on_Flow_Name": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {}
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(variables('ErrorMessage'))",
                      "@false"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Initialize_variable_Error_Message": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {}
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/msdyn_refreshstatus']",
                  "Failed"
                ]
              }
            ]
          },
          "type": "If"
        },
        "Initialize_variable_Error_Message": {
          "runAfter": {},
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "ErrorMessage",
                "type": "object"
              }
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}